@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,900');

html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #fff !important;
  overflow-x: hidden;
  margin: 0;
  zoom: 80%;
  padding: 0;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 300;
  color: #214579;
}

.opensans {
  font-family: 'Open Sans' !important;
}

.background {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position-y: 240px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.background_results {
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.tooltip {
  background-color: white;
}

.black {
  color: #214579 !important
}



.white {
  color: #fff !important;
}

.achievements_background_container {
  background-size: 650px;
  margin-top: 70px;
  width: 100%;
  background-color:  #008797;
}

.tooltip-inner {
  background-color: #fff;
}

button:focus {
  outline: none;
}


.text_sm {
  font-size: 16px;
}
.text_md {
  font-size: 18px;
}
.text_xl {
  font-size: 40px;
}

.green_line {
    height: 2px;
    border-bottom: solid 2px #4ccead;
}

.text_lg {
  font-size: 55px;
  font-weight: 300;
}

input:focus {
  outline: none;
}

.pointer { 
  cursor: pointer;
}

.button {
  cursor: pointer;
  font-weight: 500;
  height: 42px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0px 16px;
  color: #fff;
  border: solid 2px #008797;
  transition: all .1s;
}


.button:hover {
  background-color: #008797;
  border: solid 2px #008797;
  color: #fff !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.button_xl_mobile {
  width: 215px !important;
}
.button_reverse {
  cursor: pointer;
  font-weight: 500;
  height: 42px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  color: #fff;
  background-color: #00dac3;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  transition: all .1s;
}
a {
  font-weight: 400;
}

a:hover {
}

.button_reverse:hover {
  background-color: #008797;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 100px;
  font-weight: bold !important;
  color: #00dac3;
  margin-top: 192px;
}
.mobile_visible {
  display: none;
}

.g-recaptcha {
 width: 1000px !important; 
}

.ReactModal__Overlay {
  background-color: #008797 !important;
}
.extra_width_button {
  width: 230px !important;
}
@media (max-width: 1112px) {
  .background {
    background-size: 150px;
  }
  
}
@media(max-width: 991px) {
  .extra_width_button {
    width: 160px !important;
  }
}
@media (max-width: 767px) {


  .button_xl_mobile {
    width: 255px !important;
    height: 52px !important;
    font-size: 20px !important;
  }
  .button_md_mobile {
    width: 225px !important;
    height: 52px !important;
    font-size: 20px !important;
  }
  .trading_challenge_mobile {
    margin-top: 10px !important;
  }
  h1 {
    font-size: 40px; 
    margin-top: 180px;
  }
  .extra_width_button {
    width: 250px !important;
  }
.mobile_invisible {
  display: none;
}
.mobile_visible {
  display: block;
}
}

@media (max-width: 576px) {
  h1{ 
    font-size: 30px;
  }
}