.form_container {
    position: relative;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.form_instructions {
    font-size: 24px;
    color: #464646;
    
}

.button_form {
  width: 100% !important;
  height: 53px !important;
  border-radius: 10px !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  border: none !important;
  border-radius: 10px;
  background-color: #00dac3 !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.captcha_col {
    zoom: 124% !important;
}

.form_header {
    border-radius: 20px 20px 0px 0px !important;
    padding-top: 20px !important;
    color: white !important;
    background-color: #008797;
    background-repeat: repeat;
    background-size: 430px;
}


.button_form:hover {
    background-color: #359980 !important;
    border: none !important;
}

.form_modal_header_background {
    left: 0px;
    top: -70px;
    z-index: 1;
    border-radius: 20px 20px 0px 0px;
    height: 180px;
    width: 100%;
    position: absolute;
}
.justify_text {
    text-align: justify;
}
.button_gdpr {
    margin: 0px 20px !important;
    cursor: pointer;
    width: 80px !important;
}
.finished_modal {
    padding: 30px;
    padding-bottom: 40px;
}
.button_finished {
    width: 270px !important;
}
.text_warning {
    color: red;
}
.form_input {
    height: 53px;
    border-radius: 10px !important;
    background-color: #ffffff;
    border: solid 3px #464646 !important;
    border-width: 2px !important;
    font-size: 20px;
    font-size: 20px;
    color: black !important;
}

.modal_cancel {
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer !important;
}
.newsletter_checkbox {
    margin-top: 10px;
    margin-left: 10px;
}

.checkbox_warning {
    color: red;
}

.modal_footer {
    padding: 20px 20px 0px 20px;
    color: #9b9b9b;
    font-weight: 300;
}


.center-recaptcha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form_input::placeholder {
    font-weight: 100;
    font-family: 'Open Sans';
    color: #464646 !important;
}

.tooltip {
    background-color: transparent !important;
}

.tooltip-inner {
    background-color: black !important;
}

.modal-footer {
    border: none !important;
}
.modal-header {
    border: none !important;
}

input:active {
    outline: none ;
}

.form_label {
    color: #464646 !important;
    font-size: 18px;
    font-weight: 500;
}

.form_modal_header {
    z-index: 100000000;
}

.form_heading {
    width: 360px;
    margin-top: 20px;
    font-size: 40px;
    border-radius: 300px !important;
}
.modal-content  {
    -webkit-border-radius: 300px !important;
    -moz-border-radius: 300px !important;
    border-radius: 300px !important; 
    border: none !important;
}
.check_box_text {
    margin-left: 10px;
}
.form_checkbox {
    width: 23px;
    height: 21px;
    background-color: #d8d8d8;
    border: solid 1px #4ccead;
    margin-top: 0px !important;
}
.modal_head {
    padding: 30px;
}

.gdpr_modal {
    padding: 8px !important;
}

.gdpr_footer {
    justify-content: space-evenly !important;
}

@media (max-width: 768px) {
    .form_heading {
        font-size: 30px !important;
    }
    .form_checkbox {
        /* margin-top: 7px !important; */
    }
}

@media (max-width: 415px) {
    .check_box_text {
        margin-left: 10px;
        font-size: 16px;
    }
}
@media (max-width: 345px) {
    .check_box_text {
        margin-left: 10px;
        font-size: 14px;
    }
}