.footer_anchor {
    color: #fff !important;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media(min-height: 1100px) {
    .footer_container {
        width: 100%;
        z-index: 1;
    }
}

@media(max-width: 375px) {
    .footer_anchor {
        font-size: 14px !important;
    }
}