.intro_tokens_left {
  transform: rotate(180deg);
}

.help_modal {
  background-color: #4a4a4a;
  padding: 100px;
}

.intro_text {
  font-size: 24px;
}

.first_step_container {
  padding: 15px;
  border-radius: 5px;
  z-index: 0;
  background-color: #737373;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.secondary_title {
  color: #fff;
  font-size: 55px;
}
.steps_bold {
  font-size: 20px;
  margin-bottom: -20px !important;
  font-weight: 500;
}
.achievements_steps_container {
  margin: auto;
  display: flex;
  width: 1300px;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.daily_button {
  margin-top: 0px !important;
  margin-bottom: 40px;
  width: 198px;
  height: 42px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #00dac3;
}

.achievement_anchor:hover {
  color: #fff !important;
}

.help_bot {
  margin-top: 0px;
  font-size: 40px;
}

.countdown {
  font-size: 100px;
  font-weight: 300;
  margin-top: 40px;
  color: #00dac3;
}

.countdown_time_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown_seperator {
  margin: 0px 20.5px;
}

.countdown_detail {
  font-weight: 300;
  margin-top: -15px;
  font-size: 18px;
  color: #464646;
}

.countdown_detail_container {
  display: flex;
  border: 1px solid;
  justify-content: space-evenly;
}


.progressbar {
  background-color: #464646;
  width: 100%;
  margin-top: 39px;
  height: 30px;
  border-radius: 15px;
  border: 6px solid #eae9e9;

}

.last_step {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 0px;
}

.progress_location {
  position: relative;
  height: 18px;
  border-radius: 15px 0px 0px 15px;
  background-image: linear-gradient(93deg, #00dac3, #005971);
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5); */
}

.facebook {
  /* width: 150px !important; */
  height: 80px;
}

.percent_box {
  position: absolute;
  color: #4a4a4a;
  font-size: 20px;
  top: 17.5px;
  justify-content: center;
  text-align: center;
  right: -24px;
  background-size: cover;
  width: 52px;
  height: 42px;
}
.first_step {
  width: 102px !important; 
}
.joinairdrop {
  margin-top: 5px;
}
.progressbar_percentage {
  margin-top: 10px;
  font-size: 18px;
  font-size: 700 !important;
}

.arrow_right {
  position: absolute;
  right: -115px;
  top: 75px;
}

.arrow_down {
    position: absolute;
    right: 140px;
    top: 200px;
  }

.steps {
  height: 140px;
  width: auto;
}

.achievements_container {
  display: flex;
  margin: auto;
  left: 0;
  width: 1300px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.reward {
  color: #00dac3;
  font-size: 18px;
  font-weight: 700;
}
.achievement_reward_bottom {
    margin-bottom: 50px;
  }

.achievement_reward {
  color: #464646;
  margin-left: -34px;
  margin-top: 10px !important;
  margin-bottom: -5px;
  font-weight: 500;
}

.achievement {
  position: relative;
  padding: 0px;
  display: flex;
  margin: 30px;
  margin-top: 40px;
  width: 490px;
  height: 219px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.achievement_text {
    font-size: 16px;
    width: 240px;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 300;
    height: 60px;
}
.achievement_title {
  color: #fff !important;
  font-size: 18px;
  margin-top: 6px;
  margin-left: 10px;
  color: #4ccead;
}
.achievement_title_background {
  margin-top: 40px;
  display: flex;
  align-items: center;
  width: 308.5px;
  margin-right: -10px !important;
  height: 37px;
  background-color: #00dac3;
}

.achievement_line {
  position: absolute;
  left: 118px;
  top: 35px;
  width: 2px;
  height: 144px;
  background-color: #4ccead;
}

.achievement_line_mobile {
  margin-top: 10px;
  margin-bottom: -10px;
  left: 28%;
  width: 159px;
  height: 1px;
  background-color: #4ccead;
}

.achievement_subtitle {
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: 0px;
}

.intro_seperator {
  margin: 50px 0px;
  width: 108px;
  border-bottom: solid 1px #4ccead;
}
.margin_achievement_image {
  margin-left: -20px !important;
}
.complete_achievements {
  width: 105px;
}
.achievement_token_reward {
  width: 20px;
  margin-top: -4px;
}
.end_of_steps {
  margin-right: 17px !important;
}
.first_of_steps {
  margin-left:15px;
}
.steps_container {
  max-width: 1600px;
  width: 1260px;
  display: flex;
  justify-content: space-between;
}
.intro_achievements_margins {
  margin-top: 90px !important;
  margin-bottom: 38px !important;
}
@media (max-width: 1250px) {
  .achievements_container {
    width: 100%;
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 1199px) {
  .steps_container {
    width: 1000px;
  }
    .arrow_right {
      right: -80px;
    }
      .do_achievs {
        width: 220px;
      }
}

@media (max-width: 400px) {
  .achievement {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .steps_container {
    width: 800px;
  }

  .button_md {
    width: 200px !important;
  }
.first_step_container {
  background-color: transparent;
  box-shadow: none;
}
  .countdown {
    font-size: 100px;
  }

  .do_achievs {
    width: 155px;
    margin-top: -25px;
  }

  .arrow_right {
    position: absolute;
    right: -20px;
    top: 80px;
    width: 40px;
  }

  .arrow_down {
    position: absolute;
    right: 88.5px;
    width: 3px;
    top: 180px;
  }
  
}


@media (max-width: 768px) {
  .progressbar {
    margin-top: 80px;
  }
  .intro_text {
    font-size: 18px;
  }
  .achievement_text_container {

  }
  .achievement_title_background {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin: auto !important;
    margin-top: -30px !important;
    margin-bottom: 20px !important;
    padding: 0px 10px;
    width: fit-content;
    height: 27px;
    background-color: #00dac3;
  }
  .end_of_steps {
    margin-right: 0px !important;
  }
  .first_of_steps {
    margin-left: 0px !important;
  }
  .margin_achievement_image {
    height: auto !important;
  }
  .mobile_steps {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  .achievement_reward_bottom {
    margin-bottom: 0px;
  }
  .reward {
    margin: 0px !important;
  }
  .last_step {
    margin-top: auto;
  }
  .tokens_left {
    margin-left: -50px;
  }
  .do_achievs {
    width: 100%;
  }

  .margin_achievement_image {
    margin: 0px !important;
  }
  .margin_mobile_numbers {
    font-size: 16px !important;
  }
  .total_tokens_mobile {
    font-size: 16px !important;
    margin-bottom: -60px !important;
  }

  .countdown_seperator {
    margin: 0px 10px;
  }

  .countdown {
    font-size: 90px;
  }

  .achievement_img_container {
   width: 150px !important;
    margin: 0px !important;

  } 

  .achievement {
    height: 433px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center !important;
  }

  .achievement {
    width: 90%;
  }

  .achievement_text {
    margin: 0 auto;
    line-height: 1.25;
    letter-spacing: 0.3px;
    font-size: 15px !important;
    width: 80%;
  }

  .achievement_title {
    margin-top: 10px;
    margin-left: 0px;
  }

  .achievement_title_background {
    margin-top: 0px !important;
  }

  .achievement_reward {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 30px !important;
  }

  .extra_width_button {
    width: 230px !important;
  }

}

@media (max-width: 576px) {
  .main_title {
    font-size: 45px !important;
  }
  .achievement_reward {
    margin-top: 32px !important;
  }
  .countdown_detail {
    margin-top: -5px;
    font-size: 14px;
  }

  .countdown_seperator {
    margin: 0px 6px;
  }

  .secondary_title {
    font-size: 40px;
  }

  .countdown {
    font-size: 60px;
  }
}

@media (max-width: 345px) {
  .countdown_time_container {
    font-size: 40px;
  }
  .countdown_seperator {
    font-size: 40px;
  }
}
